@import url("https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@layer components {
  .btn-offset {
    @apply relative w-40 h-14 px-5 py-2 text-[1.1rem] text-white border border-black transition-all duration-150 ease-in;
  }

  .btn-offset::after {
    content: attr(data-text);
    @apply absolute inset-0 flex items-center justify-center bg-black -translate-x-[5px] -translate-y-[5px] transition-all duration-150 ease-in;
  }

  .btn-offset:hover {
    @apply translate-x-0 translate-y-0;
  }

  .btn-offset:hover::after {
    @apply translate-x-0 translate-y-0;
  }

  .btn-offset:active::after {
    @apply bg-neutral-800;
  }
}

@theme {
  --color-primary: #1c2434;
  --color-blue: #0080fe;
  --color-gray-dark: #3d3d3d;
  --color-gray-medium: #898989;
  --color-gray-light: #f2f2f2;
  --color-black: #121212;
  --color-white: #fff;

  --font-primary: "Geom", sans-serif;
}

body {
  font-family: var(--font-primary);
  color: var(--color-black);
  background-color: var(--color-gray-light);
}
